<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>      
      <section name="reportConfig" type="QstReport.Configuration.AppConfigurationSection, QstReport"/>
    </configSections>

  <reportConfig>
    <!-- Paramètres de connexion à SIAM -->
    <siam hostname="siam.tech.cana.ri" user="QST" password="qstdo"/>

    <!-- Paramètres de connexion à SIAM V5 -->
    <siamV5 hostname="siam5.tech.cana.ri" user="Loho" password="loho"/>

    <!-- Paramètres de connexion à EPEIRES -->
    <epeires hostname="epeires.cdg-lb.aviation" user="QST" password="epeires"/>

    <!-- Localisation des modèles excel pour les compte-rendus -->
    <modele rco="L:\ST\02-COLLABORATIF\TSV\Domaine QST-DO\0 - Modèles de références\Date - Réunion Coordination Opérationnelle - base.xls"
            gsst="L:\ST\02-COLLABORATIF\TSV\Domaine QST-DO\0 - Modèles de références\Date - Réunion GSST- base.xls"/>

    <!-- Répertoire de stockage par défaut des compte-rendus -->
    <enregistrement repertoire="L:\ST\02-COLLABORATIF\TSV\Domaine QST-DO\_Diffusion interne\0 - Preparation CR"/>

  </reportConfig> 

</configuration>
